body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.container-fluid {
    overflow-y: hidden;
}

video {
    width: 500px;
    border-radius: 10px;
}

a.btn {
    width: 500px;
    padding: 15px 0 15px;
    background: white;
    border: 0;
    color: black;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-weight: 600;
    border-radius: 10px;
}

.col {
    margin: 15px 0 15px;
}

a.btn:hover {
    background: #ce9ffc;
    color: white;
}

a.btn:active {
    background: #ce9ffc;
}

.center-m {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


/* Style the video: 100% width and height to cover the entire window */

#myVideo {
    right: 0;
    bottom: 0;
    width: 500px;
    height: 100%;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    a.btn {
        width: 350px;
    }
    video {
        width: 350px;
    }
    .center-m {
        display: block;
        align-items: baseline;
        margin-top: 20px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}


/* CE9FFC */